@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/bgimage.jpg) no-repeat center;
    background-size: cover;
    color: aliceblue;
    width:auto;
    min-width: 300px;  
    padding: 100px;
}

.brand {
    font-weight: 600;
}

.navcenter {
    font-weight: 300;
}

.dropdown-menu-dark {
    background-color: #333333;
}

.frase {
    max-width: 1000px;
    font-weight: 700;
}

.frase {
    font-size: 5.2vw;
}

.parrafo {
    margin-top: 30px;
    font-weight: 100;
}

@media (max-width: 400px){
    .parrafo{
    line-height: 3vw;
    font-size: 3vw;
 }
}


@media (min-width: 400px) {
    .parrafo{
        font-size: 1.5vw ;
        line-height: 1.5vw;
    }
}

.navbarsecciones{
    font-size: 1.25vw;
}


