@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background:#111;
    color: aliceblue;
}

.brand{
    font-weight: 600;
}

.navcenter{
    font-weight: 300;
}

.dropdown-menu-dark{
    background-color: #333333;
}

.frase{
    width: 400px;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}


