<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>
        blogs:
    </h1>
    <p>
        blog 1
    </p>
    <p>
        blog 2
    </p>
    <p>
        blog 3
    </p>
    {{{body}}}
  </body>
</html>