<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>
        Contacto:
    </h1>
    <p>Email</p>
    <p>Direccion</p>
    <p>Nombre</p>
    {{{body}}}
  </body>
</html>