<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>
        novedades
    </h1>
    <p>
       noticia 
    </p>
    <p>
       noticia 
    </p>
    <p>
       noticia 
    </p>
    {{{body}}}
  </body>
</html>