<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>
        Contacto:
    </h1>
    <p>plan 1</p>
    <p>plan 2</p>
    <p>plan 3</p>
    <p>plan 4</p>
    {{{body}}}
  </body>
</html>