.rojo {
    background-color: red
}

.azul {
    background-color: blue
}

.verde {
    background-color: green
}



.caja {
    border: 5px solid black ;
    width: 100%;
}

.contenedor {
    display:flex;
    justify-content: space-between;
}

h1 {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 0  ;
    margin-bottom: 0  ;
    width: 250px;
    height: 250px;
}