<h1>Proximamente login</h1>
<div>
  <form action="/admin/login" method="post">
    <div class="mb-3">
      <label for="exampleInputUser1" class="form-label">User</label>
      <input name="user" type="user" class="form-control"
        id="exampleInputUser1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
  {{#if error}}
  <p>Usuario y/o contraseña incorrectos</p>
  {{/if}}
</div>