<h1>Proximamente login</h1>
<form action="/admin/login" method="post">
  <div class="mb-3">
    <label for="exampleInputUser1" class="form-label">User</label>
    <input name="usuario" type="user" class="form-control" id="exampleInputUser1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input name="password" type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
{{#if error}}
  <p>Usuario y/o contraseña incorrectos</p>
{{/if}}