body {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
} 

form {
    text-align: center;
}

.input-button {
    border-radius: 8px;
    background-color: black;
    color: aliceblue;
}

label {
    display: block ;
}

form > div {
    margin: 16px
}

img {
    border-radius: 15px;
    box-shadow: 0 0 10px ;
}
